body {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.combiner{
  margin-top: 5vh;
}
.card-form {
  background: #fff;
  box-shadow: 0 0 5px black;
  border-radius: 10px;
  padding-top: 180px;
  background: aliceblue;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2vw 4vw;
  padding-top: 25vh;
  width: 90%;
  max-width: 500px;
  margin-bottom: 10px;
}
.card-input-label {
  font-size: 14px;
  margin-bottom: 5px;
  font-weight: 500;
  color: #1a3b5d;
  width: 100%;
  display: block;
  user-select: none;
  margin-top: 10px;
}
.card-input-input {
  width: 100%;
  height: 50px;
  border-radius: 5px;
  box-shadow: none;
  border: 1px solid #ced6e0;
  transition: all 0.3s ease-in-out;
  font-size: 18px;
  padding: 5px 15px;
  background: none;
  color: #1a3b5d;
  font-family: "Source Sans Pro", sans-serif;
  flex: 1;
}
button {
  width: 100%;
  height: 55px;
  background: #2364d2;
  border: none;
  border-radius: 5px;
  font-size: 22px;
  font-weight: 500;
  font-family: "Source Sans Pro", sans-serif;
  box-shadow: 3px 10px 20px 0px rgba(35, 100, 210, 0.3);
  color: #fff;
  margin-top: 20px;
  cursor: pointer;
}
.button:hover{
  background: #0a4ec5;
}
.-select {
  width: 25%;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAeCAYAAABuUU38AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAUxJREFUeNrM1sEJwkAQBdCsngXPHsQO9O5FS7AAMVYgdqAd2IGCDWgFnryLFQiCZ8EGnJUNimiyM/tnk4HNEAg/8y6ZmMRVqz9eUJvRaSbvutCZ347bXVJy/ZnvTmdJ862Me+hAbZCTs6GHpyUi1tTSvPnqTpoWZPUa7W7ncT3vK4h4zVejy8QzM3WhVUO8ykI6jOxoGA4ig3BLHcNFSCGqGAkig2yqgpEiMsjSfY9LxYQg7L6r0X6wS29YJiYQYecemY+wHrXD1+bklGhpAhBDeu/JfIVGxaAQ9sb8CI+CQSJ+QmJg0Ii/EE2MBiIXooHRQhRCkBhNhBcEhLkwf05ZCG8ICCOpk0MULmvDSY2M8UawIRExLIQIEgHDRoghihgRIgiigBEjgiFATBACAgFgghEwSAAGgoBCBBgYAg5hYKAIFYgHBo6w9RRgAFfy160QuV8NAAAAAElFTkSuQmCC);
  background-size: 12px;
  background-position: 90% center;
  background-repeat: no-repeat;
  padding-right: 30px;
  height: 60px;
  appearance: none;
  cursor: pointer;
  margin-right: 10px;
}
option {
  cursor: pointer;
}
.card-form-row {
  display: flex;
  align-items: flex-start;
}
.-cvv {
  width: 30%;
  margin-left: 30%;
}
.card-form-group {
  flex: 2;
  margin-right: 15px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
}


/* card view css starts here  */

.upperpart {
  box-shadow: 0 0 5px black;
  background-image: url(./img/7.jpeg);
  width: fit-content;
  max-zoom: 100%;
  padding: 15px;
  border-radius: 5px;
}

.upper-img{
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* padding: 5px; */
}
.chip-img{
  width: 25px;
  border-radius: 5px;
}
.visa-img{
  width: 50px;
}
.name-date{
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.card-number{
  /* padding: 5px; */
  color: #fff;
  letter-spacing: 3px;
  font-size: large;
  font-weight: 400;
}
.label{
  color: rgba(245, 245, 245, 0.895);
  font-size: smaller;
  font-weight: 200;
}
.span{
  font-size: medium;
  font-weight: 400;
}